.section-video{
    width: 100%;
    text-align: center;
    margin-bottom: 5em;

}
.section-video figure {
    background-image: url('../img/YOUTUBE.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2em 0 2em 0;
}

.section-video h1 {
    font-size: 1.5rem;
}

.section-video .videoEstreno {
    width: 80vw;
    height: calc( 80vw * 315 / 560);
    margin: auto;
}

iframe {
    border: none;
    width: 100%;
    height: 100%;
}

