
.section-pdp {
    font-family: 'sf-pro-display';
    color: #000201;
}

.contenedor-img-info-pdp {
    display: flex;
    justify-content: center;
    gap: 3em;
    padding: 0 1em;
}

.contenedor-img-pdp {
    max-width: 600px !important;
}

.contenedor-info-pdp {
    max-width: 600px !important;
}

.img-principal-pdp {
    width: 632px !important;
    height: 700px !important;
    border-radius: 5px;
}

.img-variante-pdp {
    max-width: 60px !important;
    max-height: 86px !important;
    border-radius: 5px;
}


.contenedor-img-pdp {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.section-pdp-div {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.div-medidas-pdp {
    margin-bottom: 2em;
}

.envio-pdp-cucarda {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: .5em 0;
    padding: .5em .5em;
    max-width: 229px;
    background: rgba(36, 252, 36, 0.521);
    background: #bfa754;
    border-radius: 5px;
    color: white;
}

.envio-icon {
    height: 30px;
    width: 30px;
}

.porducto-title-pdp {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.title-descrition {
    font-weight: 600;
    font-size: 25px;
}
.descrition-text {
    font-size: 17px;
}

.div-descripcion-pdp {
    margin-bottom: 2em;
}


.pdp-wpp-img { 
    width: 35px;
    height: 35px;
    /* color: #bfa754; */
    color: rgb(28, 30, 32);
}
.pdp-inst-img {
    width: 35px;
    height: 35px;
    /* color: #bfa754; */
    color: rgb(28, 30, 32);
}
.pdp-face-img {
    width: 33px;
    height: 33px;
    /* color: #bfa754; */
    color: rgb(28, 30, 32);
}
.pdp-mailto-img {
    width: 38px;
    height: 38px;
    /* color: #bfa754; */
    color: rgb(28, 30, 32);
}

.footer-h3 {
    font-weight: 500;
    font-size: 19px;
}

.div-flecha {
    max-width: 1300px;
    margin: auto;
    padding: 0 1em;
}
.flecha-atras {
    width: 38px;
    height: 38px;
    color: #bfa754;
    margin-top: 1.5em;
}

.flecha-atras {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.flecha-atras:hover {
  transform: translateX(-10px);
}
  .e-c-pdp-bot {
        display: block !important;
    }
    .e-c-pdp-top {
        display: none !important;
    }



@media screen and (max-width: 1280px) {
    .porducto-title-pdp, 
    .title-descrition, 
    .descrition-text, 
    .title-descrition,
    .footer-h3 {
        text-align: center;
    }
    .div-medidas-pdp ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .envio-pdp-contenedor {
        display: flex;
        justify-content: center;
    }
    .ul-redes-footer {
        justify-content: center;
    }
    
 .contenedor-img-pdp {
        position: relative;
    }
    .envio-pdp-contenedor  {
        position: absolute;
        top: 12px;
        right: 11px;
    }
    .envio-pdp-cucarda {
        gap: 2px !important;
    }
    .envio-pdp-cucarda p {
        font-size: 10px !important;
    }d
    .envio-icon {
        height: 18px !important;
        width: 18px !important;
    }
    .e-c-pdp-bot {
        display: none !important;
    }
    .e-c-pdp-top {
        display: block !important;
    }

}


@media screen and (max-width: 1023px) {
    .div-flecha {
        margin-bottom: 0;
        padding-bottom: 0;
        margin-top: 70px !important;
    }

    .flecha-atras {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .btn-atras-pdp {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .hr-pdp {
        margin: 2rem 0 !important;
    }
    .porducto-title-pdp {
        font-size: 26px;
    }
    .title-descrition {
        font-size: 20px;
    }
    .descrition-text, .div-medidas-pdp ul li {
        font-size: 15px;
    }
    .envio-pdp-cucarda p {
        font-size: 12px;
    }
    .envio-icon {
        height: 22px;
        width: 22px;
    }
    .footer-h3  {
        font-size: 16px;
    }
    
    .pdp-wpp-img { 
        width: 30px;
        height: 30px;
        /* color: #bfa754; */
        color: rgb(28, 30, 32);
    }
    .pdp-inst-img {
        width: 30px;
        height: 30px;
        /* color: #bfa754; */
        color: rgb(28, 30, 32);
    }
    .pdp-face-img {
        width: 28px;
        height: 28px;
        /* color: #bfa754; */
        color: rgb(28, 30, 32);
    }
    .pdp-mailto-img {
        width: 31px;
        height: 31px;
        /* color: #bfa754; */
        color: rgb(28, 30, 32);
    }
    .contenedor-img-info-pdp {
        gap: 2em;
    }
}


@media screen and (min-width: 801px) {
    .contenedor-img-info-pdp {
        padding-bottom: 66px !important;
    }    
}    


@media screen and (max-width: 800px) {

    .contenedor-img-info-pdp {
        margin: 0 0 60px 0 !important; 
    }

    .contenedor-info-pdp {
        max-width: 600px !important;
    }

    .img-principal-pdp {
        width: 632px !important;
        height: 700px !important;
    }
   
}

@media screen and (max-width: 640px) {

    .img-principal-pdp {
        width: 360px !important;
        height: 400px !important;
    }

    .contenedor-img-pdp {
        max-width: 360px !important;
    }

    .contenedor-info-pdp {
        max-width: 360px !important;
    }
}

