
.section-pdp {
    font-family: 'sf-pro-display';
    color: #000201;
}

.contenedor-img-info-pdp {
    display: flex;
    justify-content: center;
    gap: 3em;
    padding: 0 1em;
}

.contenedor-img-pdp {
    max-width: 600px !important;
}

.contenedor-info-pdp {
    max-width: 600px !important;
}

.img-principal-pdp {
    width: 632px !important;
    height: 700px !important;
}

.img-variante-pdp {
    max-width: 60px !important;
    max-height: 86px !important;
}

.contenedor-img-pdp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-pdp-div {
    padding-top: 66px !important;
    padding-bottom: 0 !important;
}

@media screen and (max-width: 1023px) {
    .contenedor-img-info-pdp {
        margin-top: 66px !important;
    }
}


@media screen and (max-width: 800px) {

    .contenedor-img-info-pdp {
        margin: 60px 0 !important; 
    }

    .contenedor-info-pdp {
        max-width: 600px !important;
    }

    .img-principal-pdp {
        width: 632px !important;
        height: 700px !important;
    }

}

@media screen and (max-width: 640px) {

    .img-principal-pdp {
        width: 360px !important;
        height: 400px !important;
    }

    .contenedor-img-pdp {
        max-width: 360px !important;
    }

    .contenedor-info-pdp {
        max-width: 360px !important;
    }
}

