.section-products {
    position: relative;
    top: -50px;
    font-family: 'sf-pro-display';
    margin-top: 20px;
    color: rgb(55 65 81 / var(--tw-text-opacity, 1));
}
.product-name {
  color: #000000c2;
}


.section-title {
  text-transform: uppercase;
  font-size: 27px !important;
  font-style: normal;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 50px;
  color: #000000c2;
  text-align: center;
  font-family: 'Poppins';
  position: relative; 
}

.section-title::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -10px;
  left: 0;
  margin: 0 auto;
  width: 60px;
  height: 4px;
  /*background: #37bc9b;
  background: #F4E3B3;*/
  background: #bfa754;
}

.card-producto {
    border-radius: 10px;
}

.card-producto-article {
  width: 100% !important;
  max-width: unset !important;
}

.card-armero {
  border-radius: 5px;
}
.card-armero img {
  border-radius: 5px !important;
}

@media screen and (max-width:1023px){
  .section-products {
    margin-top: 100px;
  }
}

@media screen and (max-width:767px) {
        .card-armero, .card-armero img {
          width: 360px !important;
          height: auto !important;
        }
        .flex-icon-title {
          justify-content: center;
        }
        .item-text {
          text-align: center !important;
        }
        .text-card-producto {
          width: 100% !important;
        }
        .text-card-producto p {
          text-align: center;
        }
        .section-card-productos {
          row-gap: 3em !important;
        }
}

@media screen and (max-width:640px){
        .section-title {
            font-size: 23px !important;
        }
        
  }