.section-products {
    position: relative;
    top: -50px;
    font-family: 'sf-pro-display';
    margin-top: 20px;
    color: rgb(55 65 81 / var(--tw-text-opacity, 1));
}

.product-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 50px;
  color: #0000008a;
  text-align: center;
  font-family: 'Poppins';
  position: relative; 
}

.product-title::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -10px;
  left: 0;
  margin: 0 auto;
  width: 60px;
  height: 4px;
  /*background: #37bc9b;
  background: #F4E3B3;*/
  background: #bfa754;
}

.card-producto {
    border-radius: 10px;
}

.card-producto-article {
  width: 100% !important;
  max-width: unset !important;
}

@media screen and (max-width:1023px){
  .section-products {
    margin-top: 100px;
  }
}

@media screen and (max-width:640px){
        .product-title {
            font: 23px;
        }
  }