.section-quienesomos {
    font-family: 'sf-pro-display';
    margin-top: 7em;
    margin-bottom: 50px;
}
.section-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 50px;
  color: #0000008a;
  text-align: center;
  font-family: 'Poppins';
  position: relative; 
  padding: 0 1em;
}
.contenedor-quienes-somos {
    max-width: 1300px;
    margin: auto;
    font-family: 'Poppins';
}
.servicio {
    color: #bfa754;
    width: 65px;
    height: 65px;
}


    @media screen and (max-width:1023px){ 
        .section-quienesomos {
            margin-top: 30px;
        }
        .img-1 {
            padding: 1 !important;
        }
        .flex-icon-title {
            display: flex;
            align-items: center;
            gap: .5em;
        }
        .div-logo-item {
            position: unset !important;
        }
        .flex-icon-title p {
            margin: 0 !important;
        }
        .item-text {
            margin-left: 0 !important;
        }
        .container-text-item {
            padding: 0 1em !important;
        }
    }

    @media screen and (max-width:640px){
        .section-title {
            font: 23px;
        }
        .img-quienes-somos {
            max-width: 360px !important;
        }
        .quienes-somos-principal-text  {
            padding: 0 1em !important;
        }
        .quienes-somos-principal-text p, .flex-icon-title dd, .item-text {
            font-size: 13px;
        }
        .cards-info {
            padding-top: 0 !important;
        }
        .section-info-cards {
            padding-top: 0;
        }
    }